<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suhang.road.mapper.QingXueMapper">
    <select id="findQingXuesByBlock" parameterType="com.suhang.road.povo.QingXueVo" resultType="com.suhang.road.po.QingXue">
        SELECT * FROM
        r_qingxue r
        WHERE
        r.`qx_block`=#{block}
        ORDER BY r.`qx_id` DESC LIMIT #{snep},#{ps}
    </select>
    <select id="findQingXuesAll" parameterType="com.suhang.road.povo.QingXueVo" resultType="com.suhang.road.po.QingXue">
        SELECT * FROM
        r_qingxue r
        ORDER BY r.`qx_id` DESC LIMIT #{snep},#{ps}
    </select>
    <select id="findQingXueById" parameterType="Integer" resultType="com.suhang.road.po.QingXue">
        SELECT * FROM r_qingxue WHERE qx_id=#{qx_id}
    </select>
    <select id="getQingXuesAll" resultType="com.suhang.road.po.QingXue">
        SELECT * FROM r_qingxue
    </select>
    <select id="getQingXuesByBlock" parameterType="String" resultType="com.suhang.road.po.QingXue">
        select * from r_qingxue WHERE qx_block=#{block}
    </select>
    <select id="findCountAll" resultType="Integer">
        SELECT count(*) from r_qingxue
    </select>
    <select id="findCountByBlock" parameterType="String" resultType="Integer">
        SELECT count(*) from r_qingxue WHERE qx_block = #{block}
    </select>
    <update id="updateQingXueList" parameterType="java.util.List">
        <foreach collection="list" item="single" index="index" open="" close="" separator=";">
            UPDATE r_qingxue r
            <set>
                r.`qx_logo`=#{single.qx_logo},r.`qx_name`=#{single.qx_name},r.`qx_size`=#{single.qx_size},
                r.`qx_unit`=#{single.qx_unit},r.`qx_type`=#{single.qx_type},
                r.`qx_num`=#{single.qx_num},r.`qx_tools`=#{single.qx_tools},r.`qx_block`=#{single.qx_block}
            </set>
            where r.`qx_id`=#{single.qx_id}
        </foreach>
    </update>
    <delete id="deleteQingXuesByIds" parameterType="String">
        delete from r_qingxue where qx_id IN
        <foreach collection="array" item="qx_id" open="(" close=")" separator=",">
            #{qx_id}
        </foreach>
    </delete>
    <insert id="insertQingXue" parameterType="com.suhang.road.po.QingXue">
        INSERT into r_qingxue() VALUES (#{qx_id},#{qx_logo},#{qx_name},#{qx_size},#{qx_unit},
        #{qx_type},#{qx_num},
        #{qx_tools},
        #{qx_block})
    </insert>
</mapper>